@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Thin_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Thin_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_ExtraLight_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_ExtraLight_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Light_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Light_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Text_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Text_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Text_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Text_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Medium_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Medium_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_SemiBold_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_SemiBold_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Bold_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Blex Mono';
  src: url('fonts/Blex_Mono_Bold_Italic_Nerd_Font_Complete_Mono.ttf') format('truetype'),
  font-weight: 900;
  font-style: italic;
}